@model MyApp.Web.ViewModels.LoginViewModel
@using OP.General.Extensions;
@using MyApp.Web.Helpers;

@{
    ViewBag.Title = @WebApplication.Resources.EVAResource.WebsiteTitle;
}
<script src="~/Scripts/angular/app.js"></script>
<div id="angularcontainer" ng-app="reviewmywebsite" ng-controller="loginController">
    <h2>Let's get started</h2>

    <div class="row clearfix">


        <div class="row">
            <div class="col-md-6">
                <nav class="navbar navbar-default">
                    <form class="navbar-form navbar-left" role="search" ng-show="reviewWebsites.length > 0">
                        <div class="form-group">
                             <input type="text" class="form-control" placeholder="Filter list" ng-model="filterquery">
                        </div>
                    </form>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="listing" websitelist></div>

                <p>{{statusText}}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div id="addanewreview" addreview></div>
            </div>
        </div>



    </div>
